<div style="background-color: darkgray; height: 50px; text-align: center; color:rgb(119, 56, 56); font-size: 30px;">DEPARTMENTS</div>
<div class="row">
  <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/health.webp" class="card-img-top" alt="Health Care">
          <div class="card-body">
            <h5 class="card-title">Health Care</h5>
            <p class="card-text">Healthcare software development is vital for modern healthcare systems.
               With advancing technology, providers rely on software solutions to streamline operations,
                improve patient care, and boost outcomes. NeST Digital offers a range of healthcare software
                 solutions, from patient monitoring to virtual reality simulations for medical training...</p>
            <a href="">Read More</a>
          </div>
  </div>
  </div>
  <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/bankingfinance.jpg" class="card-img-top" alt="Banking">
          <div class="card-body">
            <h5 class="card-title">Banking and Finance</h5>
            <p class="card-text">The Institute was founded in 1928 as the Indian Institute of Bankers on the
               model of the London Institute of Banking and Finance to license and regulate those professionals
                who are known as bankers.In 1925, with the encouragement of Sir Basil Blackett, the finance member 
                in the executive council of the Viceroy of India, the Imperial Bank of India wrote a letter to the...</p>
            <a href="">Read More</a>
          </div>
  </div>
  </div>
  <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/Aeronotical.jpg" class="card-img-top" alt="Aeronautical">
          <div class="card-body">
            <h5 class="card-title">Aeronautical</h5>
            <p class="card-text">Aeronautics is the study of the science of flight. Aeronautics is the method of
               designing an airplane or other flying machine. There are four basic areas that aeronautical
                engineers must understand in order to be able to design planes. To design a plane, engineers
                 must understand all of these elements.The wings, the tail, and the main body or fuselage of the 
                 ...</p>
            <a href="">Read More</a>
          </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/Mobility.jpg" class="card-img-top" alt="Mobility" height="170px">
          <div class="card-body">
            <h5 class="card-title">Mobility</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content
              Some quick example text to build on the card title and make up the bulk of the card's contentSome quick example
               text to build on the card title and make up the bulk of the card's content.Some quick...</p>
            <a href="">Read More</a>
          </div>
  </div>
  </div>
  <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/GIS.png" class="card-img-top" alt="GIS">
          <div class="card-body">
            <h5 class="card-title">GIS</h5>
            <p class="card-text">A geographic information system (GIS) consists of integrated computer hardware 
              and software that store, manage, analyze, edit, output, and visualize geographic data.[1][2] Much of 
              this often happens within a spatial database, however, this is not essential to meet the definition 
              of a GIS.[1] In a broader sense, one may consider...</p>
            <a href="">Read More</a>
          </div>
  </div>
  </div>
  <div class="col">
      <div class="card" style="width: 18rem;">
          <img src="../../../assets/insurance.jpg" class="card-img-top" alt="Insurance">
          <div class="card-body">
            <h5 class="card-title">Insurance</h5>
            <p class="card-text">Be it during large calamities like Odisha cyclone or minor accidents like
               a broken tail-light, we have always stood by our customers in time of need. We have repeatedly
               introduced industry-leading practices for nearly two decades . So, in times of trouble, be assured, 
               we’ve got your back. We stand by our motto</p>
            <a href="">Read More</a>
          </div>
  </div>
</div>

</div>