<div style="background-color: darkgrey;">
<div class="container">
    <h1>Contact Us</h1>
    <p>HOW CAN WE HELP YOU?</p>
    <form action="submit_form.php" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="message">Message:</label>
      <textarea id="message" name="message" rows="4" required></textarea>
      <button type="submit">Send Message</button>
    </form>
    <div class="contact-info">
      <h2>Our Information</h2>
      <p><strong>Address:</strong>NeST digitsl,Eranakulam,Kochi</p>
      <p><strong>Phone:</strong> 2345678901</p>
      <p><strong>Email:</strong>info1234.com</p>
    </div>
  </div>
</div>