<div style="height: 100px;">
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active"  data-bs-interval="1500">
        <img src="\..\..\..\assets\mob.jpg" class="d-block w-100" alt="company">
      </div>
      <div class="carousel-item"  data-bs-interval="1500">
        <img src="../../../assets/health.jpg" class="d-block w-100" alt="helcare">
      </div>
      <div class="carousel-item"  data-bs-interval="1500">
        <img src="../../../assets/gis2.png" class="d-block w-100" alt="helcare">
      </div>
    </div>
  </div>
</div>
    